<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контактна сторінка (Contact)</title>
</head>
<body>
<h1>Контактна сторінка</h1>
<h3>Хочете обговорити ваш проект? Ми завжди на зв'язку! Ви можете зв'язатися з нами через:</h3>
<li>Електронна пошта: support@mysticcreations.com</li>
    <li>Телефон: +1 800 123 4567</li>
        <li>Соціальні мережі: Instagram — @mystic_creations, Facebook — Mystic Creations Official
            Форма зворотного зв'язку:
            Надішліть нам повідомлення, і ми відповімо протягом 24 годин. Ваше бачення — наша пріоритетна мета!"</li>
</body>
</html>