<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сторінка послуг (Services)</title>
</head>
<body>
<h1>Сторінка послуг</h1>
<h3>Наші послуги охоплюють широкий спектр сфер. Ось декілька з них:</h3>
<li>Дизайн логотипів: створюємо унікальні та запам'ятовувані логотипи для брендів, що виділяються.</li>
  <li>Індивідуальні вебсайти: ми розробляємо вебсайти, які відображають ваш стиль та відповідно до ваших потреб.</li>
    <li>Цифрове мистецтво: вам потрібно щось креативне? Ми пропонуємо художні роботи на замовлення для вашого проекту.</li>
      <li>Консультації по стартапах: допомагаємо бізнесам та стартапам з креативними ідеями та стратегіями для їх розвитку.</li>
</body>
</html>