<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Фільми</title>
</head>
<body>
    <h1>Популярні Фільми</h1>
    <ul>
        {% for movie in movies %}
            <li><a href="{{ url_for('movie', id=movie.id) }}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('random_movie') }}">Перейти до випадкового фільму</a>
</body>
</html>
